.container {
    display: flex;
    flex-direction: column;
    }

.name__input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 45px;
    border-radius: 10px;
    border: none;
}
